---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import Facebook from "../../../public/icons/social/Facebook.astro";
import Instagram from "../../../public/icons/social/Instagram.astro";
import Tiktok from "../../../public/icons/social/Tiktok.astro";

import Tooth from "../../../public/icons/Tooth.astro";

interface SocialLink {
  name: string;
  href: string;
  ariaLabel: string;
  title: string;
  icon: AstroComponentFactory;
}

const socialLinks: SocialLink[] = [
  {
    name: "Facebook",
    href: "https://www.facebook.com/?locale=es_LA",
    ariaLabel: "Facebook",
    title: "Visitar nuestra página de Facebook",
    icon: Facebook,
  },
  {
    name: "Instagram",
    href: "https://www.instagram.com/",
    ariaLabel: "Instagram",
    title: "Visitar nuestro perfil de Instagram",
    icon: Instagram,
  },
  {
    name: "Tiktok",
    href: "https://www.tiktok.com/es-419/",
    ariaLabel: "Tiktok",
    title: "Visitar nuestro perfil de Tiktok",
    icon: Tiktok,
  },
];

const currentYear = new Date().getFullYear();

const links = {
  treatments: [
    { name: "Limpieza y Prevención", href: "#services" },
    { name: "Blanqueamiento", href: "#services" },
    { name: "Ortodoncia Invisible", href: "#services" },
    { name: "Implantes Dentales", href: "#services" },
  ],
  clinic: [
    { name: "Nuestro Equipo", href: "#specialists" },
    { name: "Instalaciones", href: "#contact" },
    { name: "Beneficios", href: "#benefits" },
  ],
};
---

<footer
  class="bg-[#0B1120] text-slate-300 border-t border-slate-800/50 font-body md:text-md"
>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="flex flex-col md:flex-row items-center justify-between py-10 border-b border-slate-800"
    >
      <div class="flex items-center gap-2 mb-6 md:mb-0">
        <div class="w-10 h-10 overflow-hidden text-white">
          <Tooth class="w-full h-full object-cover" />
        </div>
        <span class="text-2xl font-bold text-white tracking-tight"
          >DentalCare</span
        >
      </div>

      <div class="flex flex-col md:flex-row items-center gap-6">
        <p class="text-lg font-medium text-white">
          ¿Listo para sonreír con confianza?
        </p>
        <a
          href="https://www.whatsapp.com/?lang=es"
          class="bg-accent hover:bg-blue-500 text-white font-semibold py-3 px-6 rounded-lg transition-all duration-300 focus:ring-4 focus:ring-blue-500/30 focus:outline-none shadow-lg shadow-blue-900/20"
          aria-label="Agendar una cita ahora"
          target="_blank"
          rel="noopener noreferrer"
          title="Agendar una cita ahora"
        >
          Agendar Cita
        </a>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-12 gap-8 md:gap-12 py-8">
      <!-- redes sociales -->
      <div class="sm:col-span-4">
        <div class="flex flex-col">
          <h3 class="text-white font-semibold mb-4">Redes Sociales</h3>
          <div
            class="flex sm:flex-col md:flex-row items-center gap-5 md:gap-10 pt-2"
          >
            {
              socialLinks.map((social) => (
                <a
                  href={social.href}
                  class="text-gray-300 hover:scale-105 transition-transform duration-300"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label={social.ariaLabel}
                  title={social.title}
                >
                  <social.icon class="w-10 h-10" />
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <!-- clinica, tratamientos -->
      <div class="sm:col-span-8 grid grid-cols-1 sm:grid-cols-2 gap-10">
        <div class="">
          <h3 class="text-white font-semibold mb-4">Tratamientos</h3>
          <ul class="space-y-3">
            {
              links.treatments.map((link) => (
                <li>
                  <a
                    href={link.href}
                    class="text-gray-300 hover:text-blue-300 transition-colors text-sm block py-1"
                    aria-label={`ir a la seccion de servicios - ${link.name}`}
                  >
                    {link.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="">
          <div>
            <h3 class="text-white font-semibold mb-4">La Clínica</h3>
            <ul class="space-y-3">
              {
                links.clinic.map((link) => (
                  <li>
                    <a
                      href={link.href}
                      class="text-gray-300 hover:text-blue-300 transition-colors text-sm block py-1"
                    >
                      {link.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div
      class="border-t border-slate-800 py-8 text-center md:text-left flex flex-col md:flex-row justify-between items-center text-gray-300"
    >
      <p class="font-body text-sm">
        &copy; {currentYear} DentalCare. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
